<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>

    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>

    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>

    <a href="/users/logout">Logout</a>

    <h4>Olá <%= user.nome %></h4>

    <h4>Produtos</h4>

    <ul>
      <% products.forEach(product => { %>
        <a href="/product/update/<%= product.id %>"><%= product.nome %></a>
      <% }) %>
    </ul>

    <h4>Categorias</h4>
    <ul>
      <% categories.forEach(category => { %>
        <a href="/category/update/<%= category.id %>"><%= category.nome %></a>
      <% }) %>
    </ul>

    <a href="/">Home</a>
    <a href="/product/create">Criar produto</a>
    <a href="/category/create">Criar categoria</a>
    <a href="/users/update-profile">Editar perfil</a>

    <form action="/users/deleteAccount" method="POST">
      <input type="submit" value="Deletar conta" />
    </form>
    <h1>test</h1>
  </body>
</html>